<header id="site_header" class="header" [ngClass]="mobile ? 'mobile-menu-hide' : ''">
    <div class="header-content">
        <div class="header-photo">
            <img [src]="urlFiles + 'images/user/user-principal.jpg'" alt="Alex Smith">
        </div>
        <div class="header-titles">
            <h2>{{obj.name}}</h2>
            <h4>{{obj.rol}}</h4>
        </div>
    </div>

    <app-menu></app-menu>

    <div class="social-links">
        <ul>
            <li><a [href]="obj.linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a [href]="obj.facebook" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a [href]="obj.instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>

    <div class="header-buttons">
        <a  target="_blank" class="btn btn-primary">Download CV</a>
    </div>

    <!-- <div class="copyrights">© {{date | date: 'yyyy' }} All rights reserved.</div> -->
</header>


<!-- Mobile Navigation -->
<div class="menu-toggle" (click)="mobileMenu()" [ngClass]="mobile ? '' : 'open'">
    <span></span>
    <span></span>
    <span></span>
</div>
<!-- End Mobile Navigation -->
<!-- Arrows Nav -->
<div class="lmpixels-arrows-nav">
    <div class="lmpixels-arrow-right" (click)="nextRoute()"><i class="lnr lnr-chevron-right"></i></div>
    <div class="lmpixels-arrow-left" (click)="prevRoute()"><i class="lnr lnr-chevron-left"></i></div>
</div>
<!-- End Arrows Nav -->
