<header id="site_header" class="header" [ngClass]="mobile ? 'mobile-menu-hide' : ''">
    <div class="header-content">
        <div class="header-photo">
            <img src="../../../assets/plugin-cv/img/main_photo.jpg" alt="Alex Smith">
        </div>
        <div class="header-titles">
            <h2>Alex Smith</h2>
            <h4>Web Designer</h4>
        </div>
    </div>

    <app-menu></app-menu>

    <div class="social-links">
        <ul>
            <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>

    <div class="header-buttons">
        <a href="#" target="_blank" class="btn btn-primary">Download CV</a>
    </div>

    <div class="copyrights">© 2020 All rights reserved.</div>
</header>


<!-- Mobile Navigation -->
<div class="menu-toggle" (click)="mobileMenu()" [ngClass]="mobile ? '' : 'open'">
    <span></span>
    <span></span>
    <span></span>
</div>
<!-- End Mobile Navigation -->
<!-- Arrows Nav -->
<div class="lmpixels-arrows-nav">
    <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
    <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
</div>
<!-- End Arrows Nav -->
