<!-- MultiStep Form -->
<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2><strong>User Preferences</strong></h2>
                <p>Fill all form field to go to next step</p>

                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform" [formGroup]="form" (ngSubmit)="post()">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li [class]="step>= 1 ? 'active' : '' " id="account"><strong>Account</strong></li>
                                <li [class]="step>=2 ? 'active' : '' " id="personal"><strong>Personal</strong></li>
                                <li [class]="step>=3 ? 'active' : '' " id="payment"><strong>About me</strong></li>
                                <li [class]="step>=4 ? 'active' : '' " id="confirm"><strong>Finish</strong></li>
                            </ul>
                            <!-- fieldsets -->
                            <div *ngIf="step === 1">
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Account Information</h2>
                                        <input type="email" formControlName="email" name="email" placeholder="Email" class="email-input" />

                                        <!-- make a div if email formcontro is not valid -->
                                        <!-- print erros from formcontrol email-->
                                        <div *ngIf="form.controls.email.dirty && form.controls.email.hasError('required')" class="form-error text-danger small">This field is required</div>

                                        <div *ngIf="form.controls.email.invalid && form.controls.email.dirty && !form.controls.email.hasError('required')" class="form-error text-danger small">Please enter a valid email</div>
                                        <input type="text" formControlName="facebook" name="facebook" placeholder="Facebook" />

                                        <div *ngIf="form.controls.facebook.hasError('required') && form.controls.facebook.dirty" class="form-error text-danger small">This field is required</div>

                                        <input type="text" formControlName="instagram" name="instagram" placeholder="Instagram" />

                                        <div *ngIf="form.controls.instagram.hasError('required')  && form.controls.instagram.dirty" class="form-error text-danger small">This field is required</div>

                                        <input type="text" formControlName="linkedin" name="linkedin" placeholder="Linkedin" />

                                        <div *ngIf="form.controls.linkedin.hasError('required')  && form.controls.linkedin.dirty" class="form-error text-danger small">This field is required</div>

                                        <input type="text" formControlName="twitter" name="twitter" placeholder="Twitter" />
                                        <input type="text" formControlName="youtube" name="youtube" placeholder="Youtube" />
                                        <input type="text" formControlName="whatsapp" name="whatsapp" placeholder="WhatsApp" />
                                        <div *ngIf="form.controls.whatsapp.hasError('required')  && form.controls.whatsapp.dirty" class="form-error text-danger small">This field is required</div>

                                    </div>
                                    <input type="button" name="next" class="next action-button" value="Next Step" (click)="step = 2" />
                                </fieldset>
                            </div>
                            <div *ngIf="step === 2">
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Personal Information</h2>
                                        <input type="text" formControlName="name" name="name" placeholder="Name" />
                                        <div *ngIf=" form.controls.name.dirty && form.controls.name.hasError('required')" class="form-error text-danger small">This field is required</div>
                                        <div *ngIf="form.controls.name.invalid && form.controls.name.dirty && !form.controls.name.hasError('required')" class="form-error text-danger small">Please enter a valid name</div>

                                        <input type="text" formControlName="username" name="username" placeholder="Username" />

                                        <div *ngIf="form.controls.username.dirty && form.controls.username.hasError('required')" class="form-error text-danger small">This field is required</div>
                                        <div *ngIf="form.controls.username.invalid && form.controls.username.dirty && !form.controls.username.hasError('required')" class="form-error text-danger small">Please enter a valid username</div>

                                        <input type="text" formControlName="age" name="age" placeholder="Age" />
                                        <div *ngIf=" form.controls.age.dirty &&  form.controls.age.hasError('required')" class="form-error text-danger small">This field is required</div>
                                        <div *ngIf="form.controls.age.invalid && form.controls.age.dirty && !form.controls.age.hasError('required')" class="form-error text-danger small">Please enter a valid age</div>

                                        <input type="text" formControlName="residence" name="residence" placeholder="Residence" />
                                        <div *ngIf=" form.controls.residence.dirty &&  form.controls.residence.hasError('required')" class="form-error text-danger small">This field is required</div>
                                        <div *ngIf="form.controls.residence.invalid && form.controls.residence.dirty && !form.controls.residence.hasError('required')" class="form-error text-danger small">Please enter a valid residence</div>

                                        <input type="text" formControlName="address" name="address" placeholder="Address" />
                                        <input type="text" formControlName="rol" name="rol" placeholder="Rol" />
                                        <div *ngIf=" form.controls.rol.dirty && form.controls.rol.hasError('required')" class="form-error text-danger small">This field is required</div>
                                        <div *ngIf="form.controls.rol.invalid && form.controls.rol.dirty && !form.controls.rol.hasError('required')" class="form-error text-danger small">Please enter a valid rol</div>
                                    </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" (click)="step = step - 1" /> <input type="button" name="next" class="next action-button" (click)="step = 3" value="Next Step"
                                    />
                                </fieldset>
                            </div>
                            <div *ngIf="step === 3">
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">About me</h2>
                                        <textarea formControlName="about_me" name="about_me" rows="3" placeholder="About me"></textarea>
                                        <div *ngIf="form.controls.about_me.hasError('required') && form.controls.about_me.dirty" class="form-error text-danger small">This field is required</div>
                                        <!-- make a div if min length is not right -->
                                        <div *ngIf="form.controls.about_me.hasError('minlength') && form.controls.about_me.dirty && !form.controls.about_me.hasError('required')" class="form-error text-danger small">write more!!</div>
                                        <div *ngIf="form.controls.about_me.hasError('maxlength')  && form.controls.about_me.dirty && !form.controls.about_me.hasError('required')" class="form-error text-danger small">You've written so much</div>
                                        <input type="file" formControlName="cv" name="cv" placeholder="Curriculum Vitae" />
                                        <button type="submit" name="submit" class="submit action-button">
                                          Save
                      </button>


                                    </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" (click)="step = step - 1" />
                                </fieldset>
                            </div>
                            <fieldset *ngIf="step === 4">
                                <div class="form-card">
                                    <h2 class="fs-title text-center">Success !</h2> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image">
                                            <input type="button" name="previous" class="previous action-button-previous" value="Previous" (click)="step = 1" />

                                        </div>
                                    </div> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-7 text-center">
                                            <h5>You Have Successfully Signed Up</h5>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
