<div class="container">
    <div class="button-wrapper mr-2">
        <button class="button btn  btn-primary" (click)="openModal()"><i class="fa fa-plus"></i></button>
    </div>
    <div class="button-wrapper mr-5">
        <button class="button btn  btn-primary" style="right: 100px" (click)="openModal()"><i class="fa fa-edit"></i></button>
    </div>
    <div class="button-wrapper">
        <button class="button btn  btn-danger" style="right: 60px" (click)="destroy()"><i class="fa fa-trash"></i></button>
    </div>


    <app-data-table [paginate]="paginate" [(obj)]="obj" [orderList]="['id', 'title', 'image', 'content']" [fieldShow]="['Id','Title', 'Image', 'Content']" (get)="goPage($event)"></app-data-table>
</div>
