<button type="button" class="btn btn-primary"  (click)="showForm()">
  Create
</button>
<button type="button" class="btn btn-info" (click)="showForm()">
  Edit
</button>
<button type="button" class="btn btn-light" (click)="deleteSkill()">
  Delete
</button>
<div>
  <div>
    <app-data-table [paginate]="paginate" [orderList]="['id', 'name', 'description', 'level', 'id_category']" [orderList]="['id', 'name', 'description', 'level', 'id_category']" [fieldShow]="['Id','Name', 'Descripton', 'Level', 'Category']" (get)="goPage($event)" [(obj)]="obj"></app-data-table>
</div>
</div>
