 <section data-id="blog" class="section-cv animated-section animated-section-moveFromLeft">
                        <div class="page-title">
                            <h2>Blog</h2>
                        </div>

                        <div class="section-content">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="blog-masonry two-columns clearfix">

                                        <!-- Blog Post 1 -->
                                        <div class="item post-1" *ngFor="let item of listPosts">
                                            <div class="blog-card">
                                                <div class="media-block">
                                                    <div class="category">
                                                        <a [title]="item.title">{{item.title}}</a>
                                                    </div>
                                                    <a>
                                                        <img [src]="urlFiles + 'images/posts/' + item.image" class="size-blog-masonry-image-two-c" [alt]="item.title" title="" />
                                                        <div class="mask"></div>
                                                    </a>
                                                </div>
                                                <div class="post-info">
                                                    <div class="post-date">{{item.created_at | date}}</div>
                                                    <a [routerLink]="'/cv/post/' + item.id" >
                                                        <h4 class="blog-item-title">{{item.content | slice:0:70}}...</h4>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of Blog Post 1 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End of Blog Subpage -->
