<section class="section-cv animated-section  animated-section-rotateInNewspaper" data-id="about-me" id="container">
    <div class="page-title">
        <h2>About <span>Me</span></h2>
    </div>

    <div class="section-content">
        <!-- Personal Information -->
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <p>{{obj.about_me}}</p>
            </div>

            <div class="col-xs-12 col-sm-5">
                <div class="info-list">
                    <ul>
                        <li>
                            <span class="title">Age</span>
                            <span class="value">{{obj.age}}</span>
                        </li>

                        <li>
                            <span class="title">Residence</span>
                            <span class="value">{{obj.residence}}</span>
                        </li>

                        <li>
                            <span class="title">City</span>
                            <span class="value">Bucaramanga, Santander</span>
                        </li>

                        <li>
                            <span class="title">email</span>
                            <span class="value">{{obj.email}}</span>
                        </li>

                        <li>
                            <span class="title">Nickname</span>
                            <span class="value">{{obj.username}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End of Personal Information -->

        <div class="white-space-50"></div>

        <!-- Services -->
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="block-title">
                    <h3>What <span>I Do</span></h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="col-inner">
                    <div class="info-list-w-icon">
                        <div class="info-block-w-icon">
                            <div class="ci-icon">
                                <i class="lnr lnr-store"></i>
                            </div>
                            <div class="ci-text">
                                <h4>Ecommerce</h4>
                                <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio tortor bibendum massa, sit amet ultricies ex lectus scelerisque nibh. Ut non sodales.</p>
                            </div>
                        </div>
                        <div class="info-block-w-icon">
                            <div class="ci-icon">
                                <i class="lnr lnr-laptop-phone"></i>
                            </div>
                            <div class="ci-text">
                                <h4>Web Design</h4>
                                <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio tortor bibendum massa, sit amet ultricies ex lectus scelerisque nibh. Ut non sodales.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="col-inner">
                    <div class="info-list-w-icon">
                        <div class="info-block-w-icon">
                            <div class="ci-icon">
                                <i class="lnr lnr-pencil"></i>
                            </div>
                            <div class="ci-text">
                                <h4>Copywriting</h4>
                                <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio tortor bibendum massa, sit amet ultricies ex lectus scelerisque nibh. Ut non sodales.</p>
                            </div>
                        </div>
                        <div class="info-block-w-icon">
                            <div class="ci-icon">
                                <i class="lnr lnr-flag"></i>
                            </div>
                            <div class="ci-text">
                                <h4>Management</h4>
                                <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio tortor bibendum massa, sit amet ultricies ex lectus scelerisque nibh. Ut non sodales.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="white-space-50"></div>

        <!-- Fun Facts -->
        <div class="row">
            <div class="col-xs-12 col-sm-12">

                <div class="block-title">
                    <h3>Fun <span>Facts</span></h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="fun-fact gray-default">
                    <i class="lnr lnr-heart"></i>
                    <h4>Happy Clients</h4>
                    <span class="fun-fact-block-value">578</span>
                    <span class="fun-fact-block-text"></span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="fun-fact gray-default">
                    <i class="lnr lnr-clock"></i>
                    <h4>Working Hours</h4>
                    <span class="fun-fact-block-value">4,780</span>
                    <span class="fun-fact-block-text"></span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 ">
                <div class="fun-fact gray-default">
                    <i class="lnr lnr-star"></i>
                    <h4>Awards Won</h4>
                    <span class="fun-fact-block-value">15</span>
                    <span class="fun-fact-block-text"></span>
                </div>
            </div>
        </div>
        <!-- End of Fun Facts -->

    </div>
    <!-- <div class="ps__scrollbar-x-rail">
        <div class="ps__scrollbar-x" tabindex="0"></div>
    </div>
    <div class="ps__scrollbar-y-rail" style="top: 0px;">
        <div class=" ps__scrollbar-y " tabindex="0 "></div>
    </div> -->
</section>
